<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LegionConnectionString"
      connectionString="Data Source=;Initial Catalog=Legion;Persist Security Info=True;User ID=legion_watcher;Password=xxx"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
