<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/(.+)/(.+)/(.+)/?(k|apikey)=(.+)</LookFor>
        <SendTo>
          <![CDATA[~/api.aspx?s=$1&m=$2&f=$3&k=$5]]>
        </SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(.+)/(.+)/(.+)/</LookFor>
        <SendTo>
          <![CDATA[~/api.aspx?s=$1&m=$2&f=$3]]>
        </SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(.+)/(.+)/?(k|apikey)=(.+)</LookFor>
        <SendTo>
          <![CDATA[~/api.aspx?s=$1&m=$2&k=$4]]>
        </SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(.+)/(.+)/</LookFor>
        <SendTo>
          <![CDATA[~/api.aspx?s=$1&m=$2]]>
        </SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(.+)/</LookFor>
        <SendTo>
          <![CDATA[~/api.aspx?s=$1]]>
        </SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/(.+)/?(k|apikey)=(.+)</LookFor>
        <SendTo>
          <![CDATA[~/api.aspx?s=$1&k=$3]]>
        </SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/?(k|apikey)=(.+)</LookFor>
        <SendTo>
          <![CDATA[~/api.aspx?k=$2]]>
        </SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
    </modules>
  </system.webServer>
</configuration>